<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img src="../../../../assets/main/logo-name.png" width="" height="45">
                </a>
            </div>
            <div class="col-4">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Home</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Special Offers</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Product Request</a></li>
                </ul>
            </div>
            <div class="col-3">
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
            </div>
            <div class="col-1">
                <div class="">
                    <a class="btn" routerLink="wishlist">
                        <i class="fa-sharp fa-solid fa-heart" style="font-size:30px"></i>
                        <!-- <span class='badge badge-warning' id='lblCartCount'> {{countCartItems}} </span> -->
                    </a>
                </div>
            </div>
            <div class="col-1">
                <div class="">
                    <a class="btn" routerLink="cart">
                        <i class="fa-solid fa-cart-shopping" style="font-size:30px"></i>
                        <span class='badge badge-warning' id='lblCartCount'> {{countCartItems}} </span>
                    </a>
                </div>
            </div>
            <div class="col-1">
                <div class="dropdown">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../../assets/Retailer/{{retPicture}}" alt="mdo" width="32" height="32"
                            class="rounded-circle">
                        <span></span>
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">{{retName}}</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="retailerSignout()">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>