<div>
    <form class="p-5">
        <div class="mb-3">
            <h3 class="text-center p-2">Update Product Informations</h3>
            <hr>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label for="menufecturear-id" class="lebel-control">Manufecturear Id</label>
                <input class="form-control" id="menuId" name="menuId" [(ngModel)]="adminProduct.manuId">
            </div>
            <div class="col-8">
                <label for="menufecturear-name" class="lebel-control">Manufecturear Name</label>
                <input class="form-control" id="manuName" name="manuName" [(ngModel)]="adminProduct.manuName">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label for="product-id" class="lebel-control">Product Id</label>
                <input class="form-control" id="pId" name="pId" [(ngModel)]="adminProduct.pId">
            </div>
            <div class="col-8">
                <label for="product-name" class="lebel-control">Product Name</label>
                <input class="form-control" id="pName" name="pName" [(ngModel)]="adminProduct.pName">
            </div>
        </div>

        <div class="row mb-3">

            <div class="col-6">
                <label for="product-generic" class="lebel-control">Product Generic</label>
                <input class="form-control" id="generic" name="generic" [(ngModel)]="adminProduct.pGeneric">
            </div>
            <div class="col-6">
                <label for="product-picture" class="lebel-control">Product Picture</label>
                <input class="form-control" id="pPicture" name="pPicture" [(ngModel)]="adminProduct.pPicture">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <label for="stock" class="lebel-control">Stock</label>
                <input class="form-control" id="pStock" name="pStock" [(ngModel)]="adminProduct.pStock">
            </div>
            <div class="col-6">
                <label for="unit-price" class="lebel-control">Price per unit</label>
                <input class="form-control" id="uPrice" name="uPrice" [(ngModel)]="adminProduct.uPrice">
            </div>
        </div>


        <div>
            <label for="product-description" class="lebel-control">Product Description</label>
            <textarea class="form-control" id="pDescription" name="pDescription"
                [(ngModel)]="adminProduct.pDescription"></textarea>
        </div>
        <div class="mb-2">
            <label class="form-label" for="product-status">Status</label>
            <select class="form-select" id="pStatus" name="pStatus" [(ngModel)]="adminProduct.pStatus">
                <option class="" value="Active">Active</option>
                <option class="" value="Pending">Pending</option>
                <option class="" value="Deactive">Deactive</option>
            </select>
        </div>
        <div class="mt-3">
            <div>
                <button class="btn btn-success" (click)="updateProductInfo(adminProduct)">Update</button>
            </div>
        </div>
    </form>
</div>