<body>
  <div class="invoice  form-control">
    <div class="header">
      <img src="../../../../assets/main/logo-name.png" alt="Your Company Logo">
      <h3>Sourcify Bangladesh Ltd.</h3>
      <div class="row">
        <div class="col-4">
          <h6 class="text-start">OrderDate :{{order.oDate}}</h6>
        </div>
        <div class="col-4">
          <h4 class="text-center">Invoice# {{order.oId}}</h4>
        </div>
        <div class="col-4">
          <h6 class="text-end">Dalevary Date:{{order.delDate}}</h6>
        </div>
      </div>
      <hr>
    </div>
    <table class="invoice-table ">
      <thead>
        <tr>
          <td>Manufacturer Details</td>
          <td>Dalevared To</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>ID : {{manufecturear.manuId}}</p>
            <p>Name : {{manufecturear.manuName}}</p>
            <p>Email : {{manufecturear.email}}</p>
            <p>Phone : {{manufecturear.repPhone}}</p>
            <p>Corporate Office :</p>
            {{manufecturear.coLocation}},<br>
            {{manufecturear.coUpozla}},
            {{manufecturear.coDistrict}},
            {{manufecturear.coDivision}}
          </td>

          <td>
            <p>ID : {{retailer.id}}</p>
            <p>Name : {{retailer.name}}</p>
            <p>Email : {{retailer.email}}</p>
            <p>Phone : {{retailer.phone}}</p>
            <p>Address :</p>
            {{order.delLocation}},
            {{order.delUpozela}}<br>
            {{order.delDevision}},
            {{order.delDistrict}}

          </td>
        </tr>
      </tbody>
    </table>
    <table id="dataTable" class="invoice-table">

      <thead>

      </thead>
      <tbody>
        <tr>
          <th class="text-center">Serial</th>
          <th class="text-center">Product</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Unit Price</th>
          <th class="text-center">Total</th>
        </tr>
        <tr *ngFor="let invItem of order.orderItems; let i = index">
          <td class="text-center">{{i+1}}</td>
          <td>{{invItem.pName}}</td>
          <td class="text-center">{{invItem.pQuantity}}</td>
          <td class="text-center">{{invItem.uPrice}}</td>
          <td class="text-end">{{invItem.price}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Subtotal</td>
          <td class="text-end">{{order.subtotal}}</td>
        </tr>
        <tr>
          <td colspan="4">Discount</td>
          <td class="text-end">{{order.discount}}</td>
        </tr>
        <tr>
          <td colspan="4">VAT (15%)</td>
          <td class="text-end">{{order.vat}}</td>
        </tr>
        <tr>
          <td colspan="4">Net Payable</td>
          <td class="text-end">{{order.netPayable}}</td>
        </tr>
      </tfoot>
    </table>
    <div class="footer">
      <div class="row mt-5">
        <div class="col">
          <div class="row mt-5">
            <div class="col">
              <hr>
              <h6>Sells Manager</h6>
            </div>
            <div class="col">
              <hr>
              <h6>Received By</h6>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="row mt-5">
            <div class="col">
              <hr>
              <h6>Dalevared By</h6>
            </div>
            <div class="col">
              <hr>
              <h6>IT Manager</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 text-center">
        <p>Thank you for your business!</p>
      </div>
    </div>
  </div>

  <div class="invoice form-control mt-3">
    <div class="row">
      <div class="col-4 mb-3">
        <label class="form-lable" for="order-status">Order Status : </label>
        <span> {{order.status}}</span>
      </div>
      <div class="col-4 mb-3">
        <select id="order-status" name="order.status" [(ngModel)]="order.status" class="form-select">
          <option>Completed</option>
          <option>Cancel</option>
        </select>
      </div>
      <div class="col-2 mb-3">
        <button class="btn btn-success w-100" (click)="updateOrderInformation(order)">Update</button>
      </div>
      <div class="col-2 mb-3">
        <button class="btn btn-success w-100" (click)="generatePdf()">Print</button>
      </div>
    </div>
  </div>
</body>