<div class="container p-5">
    <h1 class="text-center mt-3">Available Products</h1>
    <hr>
    <table class="table table-bordered">
        <thead class="text-center">
            <th>ID</th>
            <th>Name</th>
            <th>Generic</th>
            <th>Stock</th>
            <th>Unit Price</th>
            <th>Picture</th>
            <th>Description</th>
            <th>Actions</th>
        </thead>
        <tbody *ngFor="let ptd of products">
            <td>{{ptd.pId}}</td>
            <td>{{ptd.pName}}</td>
            <td>{{ptd.pGeneric}}</td>
            <td>{{ptd.pStock}}</td>
            <td>{{ptd.uPrice}}</td>
            <td><img src="{{'../assets/manufecturear/'+ ptd.pPicture}}" height="50" alt="..."></td>
            <td>{{ptd.pDescription}}</td>
            <td>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-outline-success" (click)="updatePage(ptd.pId)"><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-outline-danger" (click)="removeProduct(ptd.pId)"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </td>
        </tbody>
    </table>
</div>


<!-- <div class="container-fluid">
    <div class="row p-5 mt-5">
        <h1 class="text-center mt-3">Available Products</h1>
        <hr>
        <div *ngFor="let pdt of products" class="col-md-3">
            <div class="card shadow-lg mb-3">
                <img src="{{'../assets/manufecturear/beximco/'+ pdt.pPicture}}" width="200px" height="150px" class="card-img-top p-3"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{pdt.pName}}</h5>
                    <hr>
                    <table class="table table-borderd table-hover">
                        <tbody>
                            <tr>
                                <th scope="col">Status</th>
                                <td scope="col">{{pdt.pStatus}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Stock</th>
                                <td scope="col">{{pdt.pStock}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Price</th>
                                <td scope="col">{{pdt.uPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group d-grid gap-1 d-md-flex justify-content-md-end">
                        <button class="btn btn-outline-success" (click)="updatePage(pdt.pId)"><i
                                class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-outline-danger" (click)="removeProduct(pdt.pId)"><i
                                class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->