<div class="container-fluid">
    <div class="">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="../../../../assets/main/logo-name.png" width="" height="45">
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="ratailer" routerLinkActive="active" class="nav-link px-2"><p class="h4">Retailer</p></a></li>
                <li><a routerLink="manufacturer" routerLinkActive="active" class="nav-link px-2"><p class="h4">Manufacturer</p></a></li>
                <li><a routerLink="admin-signin" routerLinkActive="active" class="nav-link px-2"><p class="h4">Admin</p></a></li>
                <li><a routerLink="main" routerLinkActive="active" class="nav-link px-2"><p class="h4">About</p></a></li>
            </ul>
        </header>
    </div>
</div>
