<body class="d-flex align-items-center py-4 bg-body-tertiary">
    
    <main class="form-signin w-100 m-auto">
        <form>
            <img class="mb-4" src="../../../../assets/main/logo-name.png" alt=""  height="57">
            <h1 class="h3 mb-3 fw-normal">Retailer signin </h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" [(ngModel)]= "retailersignin.username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"  [(ngModel)]= "retailersignin.password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit" (click)="retailerSignin()">Sign in</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
        </form>
    </main>
</body>