<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img src="../../../../assets/main/logo-name.png" width="" height="45">
                </a>
            </div>
            <!-- <div class="col-4">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Home</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Special Offers</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Product Request</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</header>