<div class="container">
    <form class="form-control p-5 shadow-lg rounded-lg">
        <h1 class="text-center">Retailer Registration Form</h1>
        <hr>
 
        <div class="form-control p-5 mb-5 shadow-lg rounded-lg">
            <fieldset>
                <legend>Retailer Profile</legend>
                <div class="row">
                    <div class="col-6">
                        <div>
                            <label for="name" class="form-label">Retail Store Name</label>
                            <input class="form-control" type="text" id="name" name="name" [(ngModel)]= "retaiSignup.name">
                        </div>
                        <div>
                            <label for="catagory" class="form-label">Catagory</label>
                            <input class="form-control" type="text" id="catagory" name="catagory" [(ngModel)]= "retaiSignup.catagory">
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <label for="businessType" class="form-label">Business Type</label>
                            <input class="form-control" type="text" id="businessType" name="businessType" [(ngModel)]= "retaiSignup.businessType">
                        </div>
                        <div>
                            <label for="tradeLisence" class="form-label">Trade Lisence</label>
                            <input class="form-control" type="text" id="tradeLisence" name="tradeLisence" [(ngModel)]= "retaiSignup.tradeLisence">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-control p-5 mb-5 shadow-lg rounded-lg">
            <fieldset>
                <legend>Store Address</legend>
                <div class="row">
                    <div class="col-6">
                               
                        <div>
                            <label for="strDevision" class="form-label">Devesion</label>
                            <input class="form-control" type="text" id="strDevision" name="strDevision" [(ngModel)]= "retaiSignup.strDevision">
                        </div>
                        <div>
                            <label for="strDistrict" class="form-label">District</label>
                            <input class="form-control" type="text" id="strDistrict" name="strDistrict" [(ngModel)]= "retaiSignup.strDistrict">
                        </div>

                    </div>
                    <div class="col-6">
                        <div>
                            <label for="strUpozela" class="form-label">Upozela</label>
                            <input class="form-control" type="text" id="strUpozela" name="strUpozela" [(ngModel)]= "retaiSignup.strUpozela">
                        </div>
                        <div>
                            <label for="strLocation" class="form-label">Store Location</label>
                            <input class="form-control" type="text" id="strLocation" name="strLocation" [(ngModel)]= "retaiSignup.strLocation">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-control p-5 mb-5 shadow-lg rounded-lg">
            <fieldset>
                <legend>Delevary Address</legend>
                <div class="row">
                    <div class="col-6">
                       
                        <div>
                            <label for="delDivison" class="form-label">Devesion</label>
                            <input class="form-control" type="text" id="delDivison" name="delDivison" [(ngModel)]= "retaiSignup.delDivison">
                        </div>
                        <div>
                            <label for="delDistrict" class="form-label">District</label>
                            <input class="form-control" type="text" id="delDistrict" name="delDistrict" [(ngModel)]= "retaiSignup.delDistrict">
                        </div>

                    </div>
                    <div class="col-6">
                        <div>
                            <label for="delUpozela" class="form-label">Upozela</label>
                            <input class="form-control" type="text" id="delUpozela" name="delUpozela" [(ngModel)]= "retaiSignup.delUpozela">
                        </div>
                        <div>
                            <label for="delLocation" class="form-label">Store Location</label>
                            <input class="form-control" type="text" id="delLocation" name="delLocation" [(ngModel)]= "retaiSignup.delLocation">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-control p-5 mb-5 shadow-lg rounded-lg">
            <fieldset>
                <legend>Account and Access</legend>
                <div class="row">
                    <div class="col-4">
                        <div>
                            <label for="ownerName" class="form-label">Owner Name</label>
                            <input class="form-control" type="text" id="ownerName" name="ownerName" [(ngModel)]= "retaiSignup.ownerName">
                        </div>
                        <div>
                            <label for="username" class="form-label">Username</label>
                            <input class="form-control" type="text" id="username" name="username" [(ngModel)]= "retaiSignup.username">
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" type="email" id="email" name="email" [(ngModel)]= "retaiSignup.email">
                        </div>
                        <div>
                            <label for="phone" class="form-label">Phone</label>
                            <input class="form-control" type="text" id="phone" name="phone" [(ngModel)]= "retaiSignup.phone">
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" type="password" id="password" name="password" [(ngModel)]= "retaiSignup.password">
                        </div>
                        <div>
                            <label for="password" class="form-label">Re-Enter Password</label>
                            <input class="form-control" type="password" id="" name="">
                        </div>
                    </div>
                </div>
            </fieldset>
            <div>
                <Label class="form-label">Comments</Label>
                <textarea class="form-control" id="comment" name="comment" [(ngModel)]= "retaiSignup.comment"></textarea>
            </div>
        </div>
        <div class="form-control p-5 mb-5 shadow-lg rounded-lg">
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Accept all terms and conditions</label>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-outline-success w-100" (click)= "retailerSignup()">Application submit</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-outline-success w-100">Back to Signin</button>
                </div>
            </div>
        </div>
    </form>
</div>