<div class="d-flex flex-column flex-shrink-0 p-3">
    <div class="text-end">
        <label class="form-lebel">Filter : </label>
        <select class="from-control" [(ngModel)]="selected" (change)="onChange()">
            <option value="Active">Active</option>
            <option value="Deactive">Deactive</option>
            <option value="Pending">Pending</option>
        </select>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sl.No.</th>
                <th>ID</th>
                <th>Name</th>
                <th>Product</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let m of manufecturerInfo; let i = index">
            <tr>
                <td>{{i+1}}</td>
                <td>{{m.manuId}}</td>
                <td>{{m.manuName}}</td>
                <td>{{m.productType}}</td>
                <td>{{m.status}}</td>
                <td>
                    <button class="btn btn-success" (click)="updateManufecturearPage(m.manuId)">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
